
        .font-pacifico {
            font-family: 'Pacifico', cursive;
        }
        .sorvete-card:hover {
            transform: translateY(-10px);

            box-shadow: 0 20px 25px -5px rgba(44, 80, 80, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        }
        .hero-section {
            background: linear-gradient(rgba(7, 17, 155, 0.637), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1497034825429-c343d7c6a68f');
            background-size: cover;
            background-position: center;
            height: 80vh;
        }
        .flavor-btn.active {
            background-color: #6B46C1;
            color: white;
        }
        .scroll-smooth {
            scroll-behavior: smooth;
        }
        .linha-vertical{
            height: 500px;
            width: 5px;
            background-color: blueviolet;
            margin-right: 3%;
        }
        .mapa{
            height: 105%;
            width: 65%;
            margin-left: auto;
            margin-right: auto;
            display: block;
            border-radius: 10pt;
            border:solid 3px rgb(157, 0, 255)

        }
        .fundo-mapa{
            background: white;
        }
        .logo-gmail{
            height: 30px;
            width: 30px;
        }
        .logo-fone{
            height: 30px;
            width: 30px;
        }
        .gps-logo{
            height: 30px;
            width: 30px;
        }
        .logo-zap{
            height: 30px;
            width: 30px;
        }